.git
.github
.alpine-netboot
evidence
evidence-*
archive
*.img
*.img.bz2
*.qcow2
*.log
*.tgz
*.run
core
core.*
**/*.o
**/*.ko
**/*.cmd
**/Module.symvers
**/modules.order
**/nvkvm-display-broker
**/nvkvm-broker-testclient
**/nvkvm-broker-relay
**/nvkvm-broker-dmabuf-src
